[honeypot]
listen_endpoints = tcp:2222:interface=0.0.0.0
telnet_listen_endpoints = tcp:2223:interface=0.0.0.0
hostname = ubuntu-server

[shell]
stdout_handle = false

[database_textlog]
enabled = true
logfile = ${honeypot:log_path}/audit.log

[database_jsonlog]
enabled = true
logfile = ${honeypot:log_path}/cowrie.json

[output_hpfeeds]
enabled = false

[network]
# Don't actually let attackers out to the internet
outbound_enabled = false
